<div class="sidebar" bx-name="mux.bcharts/sidenav" bx-config="{navTop:117}">
<ul class="nav">
    <li><a href="#!/home" hidefocus="true" >首页</a></li>
    <li><a href="#!/line" hidefocus="true" data-sub="line">折线</a></li>
    <li><a href="#!/pie" hidefocus="true" data-sub="pie" >饼图</a></li>
</ul>
<div class="sub-nav">
    <div class="sub-nav-wrap">
        <i class="icon icon-expand subnav-handle"></i>

        <!-- 展位超市 -->
        <ul data-sub="line" class="sub-nav-ul">
            <li class="li"><a href="#!/line" ><i class="iconfont mr8" title="折线">&#311;</i>折线</a></li>
            <li class="li"><a href="#!/line/line1" ><i class="iconfont mr8" title="折线一">&#311;</i>折线一</a></li>
            <li class="li"><a href="#!/line/line2" ><i class="iconfont mr8" title="折线二">&#361;</i>折线二</a></li>
        </ul>

        <!-- 报表 -->
        <ul data-sub="pie" class="sub-nav-ul">
            <li class="li"><a href="#!/pie" ><i class="iconfont mr8" title="饼图">&#311;</i>饼图</a></li>
            <li class="li"><a href="#!/pie/pie1" ><i class="iconfont mr8" title="饼图一">&#311;</i>饼图一</a></li>
            <li class="li"><a href="#!/pie/pie2" ><i class="iconfont mr8" title="饼图二">&#361;</i>饼图二</a></li>
        </ul>
    </div>
</div>

</div>